@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root{

	--header: #c61b1b;
	--titulo: white;
	--texto: white;
}
*{
	font-family: 'Montserrat', sans-serif;
	margin: 0px;
	padding: 0px;

}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: white;
}

.header{

	position: relative;
	width: 100%;
	height: 15%;
	background: var(--header);
	color: white;
    margin-bottom: 30px;
}

.titulo{
	width: 100%;
    position: relative;
    height: 50%;
    top: 10px;
    
}
.titulo > i{
    float: left;
    position: relative;
    width: 10%;
    margin-left: 10px;
}
.titulo > h2{
    float: left;
    position: relative;
    text-align: center;
    width: calc(90% - 10px);
    left: -5%;
}
.navbar {
    width: 100%;
    position: relative;
    height: 50%;
}
.navbar ul {
    list-style-type: none; /*to remove bullets*/
    text-align: center;
    position: relative;
    top: 10px;
    margin-left: 10px;
}
.navbar li{
    float: left;
    padding: 2px;
    width: 110px;
}

.item{

    position: relative;
    background-color: white;
    width: 98%;
    height: 10%;
    margin-left: 1%;
    border-bottom: 1px solid gray;
    text-align: center;
    margin-bottom: 10px;
}
.fotoItem{
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    color: black;
    text-align: center;
}
.fotoItem > i{
    top: 10%;
    position: relative;
    border-radius: 50px;
}
.desc{
    float: left;
    position: relative;
    width: 60%;
    height: 100%;
    color: black;
}
.desc > h3{
    position: relative;
    text-align: left;
    margin-left: 10px;
}
.precio{
    float: left;
    position: relative;
    width: 20%;
    height: 100%;
    color: rgb(221, 166, 0);
}
.precio > h3{
    position: relative;
    text-align: center;
    top: 20%;
    color: green;
}